Repository caas-team/py-kube-downscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, prevent-invalid-alert-types, poetry

.pre-commit-config.yaml:

fail_fast: true
repos:
  # meta

  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: check-added-large-files
      - id: check-docstring-first
      - id: debug-statements
      - id: check-ast
      - id: check-builtin-literals
      - id: detect-private-key
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--django"]

  - repo: local
    hooks:
      - id: prevent-todo-comments
        name: prevent todo comments
        entry: '# *(TODO|FIXME)\b' # matches a python comment beginning with "TODO" or "FIXME"
        language: pygrep
        files: \.py$
      - id: prevent-too-small-headings
        name: prevent too small headings
        entry: "^#{5,} " # matches a h5 or smaller markdown heading
        language: pygrep
        files: \.md$
      - id: prevent-invalid-alert-types
        name: prevent invalid alert types
        entry: '(?i)^> \[!(?!\b(?:NOTE|TIP|IMPORTANT|WARNING|CAUTION)\b).+\]' # matches a github markdown callout/alert that doesn't use one of the supported keywords
        language: pygrep
        files: \.md$
      - id: safety
        name: safety
        entry: safety
        language: system
        pass_filenames: false
        args: ["check", "--bare"]
        stages: [pre-push]
      - id: poetry
        name: poetry
        description: Validates the structure of the pyproject.toml file
        entry: poetry check
        language: system
        pass_filenames: false
        files: ^pyproject.toml$
        stages: [pre-push]

  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.25
    hooks:
      - id: helmlint

  # formatters
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.14.0
    hooks:
      - id: reorder-python-imports

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  # linters
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        args: ["-x", "tests"]
        stages: [pre-push]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        additional_dependencies: [types-pytz, types-requests]

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint
        stages: [pre-commit] # required

  # miscellaneous

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-use-type-annotations
      - id: python-no-log-warn
      - id: python-no-eval
      - id: python-check-mock-methods
      - id: python-check-blanket-noqa

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.2
    hooks:
      - id: prettier
        files: \.md$

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

Improve hlem chart options
  chart/templates/deployment.yaml
  chart/values.yaml
Due: none

Update Chart.yaml
  chart/Chart.yaml
Due: none

Update values.yaml
  chart/values.yaml
Due: none

feat: improved logic for scaling pdb with percentages, refactored docs and tests
  README.md
  kube_downscaler/scaler.py
  tests/test_scaler.py
Due: prevent-todo-comments, prevent-too-small-headings, prevent-invalid-alert-types

rename arc.py to autoscalingrunnerset.py
  kube_downscaler/resources/autoscalingrunnerset.py
  kube_downscaler/scaler.py
  tests/test_resources.py
Due: prevent-todo-comments

feat: add support for GitHub AutoscalingRunnerSet CRD (#158)
  README.md
  chart/templates/rbac.yaml
  kube_downscaler/cmd.py
  kube_downscaler/resources/autoscalingrunnerset.py
  kube_downscaler/scaler.py
  tests/test_cmd.py
  tests/test_resources.py
Due: prevent-todo-comments, prevent-too-small-headings, prevent-invalid-alert-types

Update deployment.yaml
  chart/templates/deployment.yaml
Due: none

Update chart/templates/deployment.yaml
  chart/templates/deployment.yaml
Due: none

Improve helm chart options (#161)
  chart/Chart.yaml
  chart/templates/deployment.yaml
  chart/values.yaml
Due: none

feat: introduced support for downscaler/downtime-replicas with percentage values only inside the pdb resource
  kube_downscaler/scaler.py
Due: prevent-todo-comments

feat: improved the docs with the downtime-replicas annotation percentage support for pdb
  README.md
Due: prevent-too-small-headings, prevent-invalid-alert-types

refactor: logic for scale_down, moved integrity checks there
  kube_downscaler/scaler.py
Due: prevent-todo-comments

feat: percentage value can be set at every scope with some limitations, improved error handling when using wrong annotations values
  kube_downscaler/cmd.py
  kube_downscaler/main.py
  kube_downscaler/scaler.py
  tests/test_autoscale_resource.py
Due: prevent-todo-comments

feat: improved docs
  README.md
Due: prevent-too-small-headings, prevent-invalid-alert-types

refactor: typo
  README.md
Due: prevent-too-small-headings, prevent-invalid-alert-types

feat: improved code organization, merged parse_replicas logic
  kube_downscaler/helper.py
  kube_downscaler/main.py
  kube_downscaler/scaler.py
  tests/test_autoscale_resource.py
  tests/test_scaler.py
Due: prevent-todo-comments

refactor: fixing small bug introduced by the refactoring of parsing_replicas
  kube_downscaler/scaler.py
Due: prevent-todo-comments

feat: avoiding patch call when percentage value is used on wrong resources, added unit tests
  kube_downscaler/scaler.py
  tests/test_scaler.py
Due: prevent-todo-comments

refactor: indentation in helper.py
  kube_downscaler/helper.py
Due: prevent-todo-comments

helm chart add revisionHistoryLimit
  chart/templates/deployment.yaml
  chart/values.yaml
Due: none

chore: updated dependencies, updated base image, bumped app and chart versions
  Dockerfile
  chart/Chart.yaml
  poetry.lock
  pyproject.toml
Due: poetry

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: update poetry
  poetry.lock
  pyproject.toml
Due: poetry

chore: ran linters
  README.md
  kube_downscaler/helper.py
  kube_downscaler/main.py
  kube_downscaler/scaler.py
  tests/test_autoscale_resource.py
  tests/test_scaler.py
Due: prevent-todo-comments, prevent-too-small-headings, prevent-invalid-alert-types

fix: bump docker image
  Dockerfile
Due: none

fix: changed builder ref to python 3.13
  Dockerfile
Due: none

chore: update poetry.lock for new-pykube version 25.8.0
  poetry.lock
Due: none

Chore/release 25.8.0 (#168)
  .pre-commit-config.yaml
  Dockerfile
  README.md
  kube_downscaler/helper.py
  kube_downscaler/main.py
  kube_downscaler/scaler.py
  poetry.lock
  pyproject.toml
  tests/test_autoscale_resource.py
  tests/test_scaler.py
Due: prevent-todo-comments, prevent-too-small-headings, prevent-invalid-alert-types, poetry

chore: release new helm chart version for app version 25.8.0
  chart/Chart.yaml
Due: none

chore: release new helm chart version for app version 25.8.0 (#169)
  chart/Chart.yaml
Due: none

fix: revert to python3.12.11 in docker image
  Dockerfile
Due: none

chore: bump version to 25.9.0
  chart/Chart.yaml
  pyproject.toml
Due: poetry

Fix/revert python3.12 (#171)
  Dockerfile
  chart/Chart.yaml
  pyproject.toml
Due: poetry

feat: update time spec parsing
  kube_downscaler/helper.py
Due: prevent-todo-comments

feat: introduced separated streams for stdout and stderr, refactored some error handling
  kube_downscaler/helper.py
  kube_downscaler/main.py
  kube_downscaler/scaler.py
Due: prevent-todo-comments

feat: redirect all logging output to stderr
  kube_downscaler/helper.py
Due: prevent-todo-comments

feat: remove hour completion & default var weekframe and timezone
  kube_downscaler/helper.py
Due: prevent-todo-comments

weekframe handling & readme update
  README.md
  kube_downscaler/helper.py
Due: prevent-todo-comments, prevent-too-small-headings, prevent-invalid-alert-types

feat: introduced argument to enable json output for logs
  kube_downscaler/cmd.py
  kube_downscaler/helper.py
  kube_downscaler/main.py
Due: prevent-todo-comments
