Repository caas-team/py-kube-downscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, prevent-invalid-alert-types, poetry

prevent-todo-comments:
  name: prevent todo comments
  entry: '# *(TODO|FIXME)\b'
  language: pygrep

prevent-too-small-headings:
  name: prevent too small headings
  entry: '^#{5,} '
  language: pygrep

prevent-invalid-alert-types:
  name: prevent invalid alert types
  entry: (?i)^> \[!(?!\b(?:NOTE|TIP|IMPORTANT|WARNING|CAUTION)\b).+\]
  language: pygrep

poetry:
  name: poetry
  description: Validates the structure of the pyproject.toml file
  entry: poetry check
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: non used values and bump dependencies (#136)
  .pre-commit-config.yaml
  chart/Chart.yaml
  chart/templates/deployment.yaml
  chart/templates/rbac.yaml
  chart/values.yaml
  poetry.lock
Due: none

chore: bump version in pyproject.toml
  pyproject.toml
Due: poetry

chore: bump version in pyproject.toml (#137)
  pyproject.toml
Due: poetry

chore: added release namespace value inside the chart
  chart/Chart.yaml
  chart/templates/configmap.yaml
  chart/templates/deployment.yaml
  chart/templates/rbac.yaml
Due: none

add pod restart on config changes
  chart/Chart.yaml
  chart/README.md
  chart/templates/deployment.yaml
  chart/values.yaml
Due: prevent-too-small-headings, prevent-invalid-alert-types

chore: dry-run new action
  .github/workflows/prune.yml
Due: none

chore: remove dry-run
  .github/workflows/prune.yml
Due: none

Chore/bump action (#142)
  .github/workflows/prune.yml
Due: none

set forceRestartOnConfigChange as true in values.yaml
  chart/values.yaml
Due: none

fix: move imagePullPolicy to container definition
  chart/templates/deployment.yaml
Due: none

chore: bump chart version
  chart/Chart.yaml
Due: none

chore: remove redundant with block
  chart/templates/deployment.yaml
Due: none

Add pod restart on config changes (#141)
  chart/Chart.yaml
  chart/README.md
  chart/templates/deployment.yaml
  chart/values.yaml
Due: prevent-too-small-headings, prevent-invalid-alert-types

fix imagePullPolicy indexing
  chart/Chart.yaml
  chart/templates/deployment.yaml
Due: none

chore: revert chart version
  chart/Chart.yaml
Due: none

fix: move imagePullPolicy to container definition (#143)
  chart/templates/deployment.yaml
Due: none

chore: added release namespace value inside the chart (#139)
  chart/Chart.yaml
  chart/templates/configmap.yaml
  chart/templates/deployment.yaml
  chart/templates/rbac.yaml
Due: none

chore: bump project version for new release
  pyproject.toml
Due: poetry

chore: bump project version for new release (#146)
  pyproject.toml
Due: poetry

fix: broken helm chart separator when using multiple constrained namespaces
  chart/templates/rbac.yaml
Due: none

fix: broken helm chart separator when using multiple constrained namespaces (#148)
  chart/templates/rbac.yaml
Due: none

feat: new release for helm chart fix
  chart/Chart.yaml
  pyproject.toml
Due: poetry

fix: fixed behavior of poddisruptionbudgets written as percentages
  README.md
  kube_downscaler/scaler.py
Due: prevent-todo-comments, prevent-too-small-headings, prevent-invalid-alert-types

refactor: improved docs and added unit test
  README.md
  tests/test_scaler.py
Due: prevent-todo-comments, prevent-too-small-headings, prevent-invalid-alert-types

chore: bumped dependencies, docker image, app version, release version
  Dockerfile
  chart/Chart.yaml
  poetry.lock
  pyproject.toml
Due: poetry

chore: pykube update
  poetry.lock
Due: none

chore: apply pre-commit formatting
  kube_downscaler/scaler.py
  tests/test_scaler.py
Due: prevent-todo-comments

Fix: Behavior of Pod Disruption Budgets With Percentages (#155)
  README.md
  kube_downscaler/scaler.py
  tests/test_scaler.py
Due: prevent-todo-comments, prevent-too-small-headings, prevent-invalid-alert-types

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: adjust versions
  .pre-commit-config.yaml
  poetry.lock
Due: none

chore: add permissions
  .github/workflows/docker-build.yml
  .github/workflows/end2end.yml
  .github/workflows/helm-build.yml
Due: none

Chore: Release 25.4.0 (#156)
  .github/workflows/docker-build.yml
  .github/workflows/end2end.yml
  .github/workflows/helm-build.yml
  .pre-commit-config.yaml
  Dockerfile
  chart/Chart.yaml
  poetry.lock
  pyproject.toml
Due: poetry

feat: add support for GitHub AutoscalingRunnerSet CRD
  README.md
  chart/templates/rbac.yaml
  kube_downscaler/cmd.py
  kube_downscaler/resources/arc.py
  kube_downscaler/scaler.py
  tests/test_cmd.py
  tests/test_resources.py
Due: prevent-todo-comments, prevent-too-small-headings, prevent-invalid-alert-types

add autoscalingrunnersets permissions to namespaced role
  chart/templates/rbac.yaml
Due: none

update toc
  README.md
Due: prevent-too-small-headings, prevent-invalid-alert-types

feat: scale pdb with percentage values
  kube_downscaler/scaler.py
  tests/test_scaler.py
Due: prevent-todo-comments

fix: log messages for pdb scale_up and scale_down
  kube_downscaler/scaler.py
Due: prevent-todo-comments

feat: updated documentation for poddisruptionbudgets
  README.md
Due: prevent-too-small-headings, prevent-invalid-alert-types

Path conditions:
  prevent-todo-comments: any of: \.py$
  prevent-too-small-headings: any of: \.md$
  prevent-invalid-alert-types: any of: \.md$
  poetry: any of: ^pyproject.toml$
