Repository caas-team/py-kube-downscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, prevent-invalid-alert-types, poetry

.pre-commit-config.yaml:

fail_fast: true
repos:
  # meta

  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: check-added-large-files
      - id: check-docstring-first
      - id: debug-statements
      - id: check-ast
      - id: check-builtin-literals
      - id: detect-private-key
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--django"]

  - repo: local
    hooks:
      - id: prevent-todo-comments
        name: prevent todo comments
        entry: '# *(TODO|FIXME)\b' # matches a python comment beginning with "TODO" or "FIXME"
        language: pygrep
        files: \.py$
      - id: prevent-too-small-headings
        name: prevent too small headings
        entry: "^#{5,} " # matches a h5 or smaller markdown heading
        language: pygrep
        files: \.md$
      - id: prevent-invalid-alert-types
        name: prevent invalid alert types
        entry: '(?i)^> \[!(?!\b(?:NOTE|TIP|IMPORTANT|WARNING|CAUTION)\b).+\]' # matches a github markdown callout/alert that doesn't use one of the supported keywords
        language: pygrep
        files: \.md$
      - id: safety
        name: safety
        entry: safety
        language: system
        pass_filenames: false
        args: ["check", "--bare"]
        stages: [pre-push]
      - id: poetry
        name: poetry
        description: Validates the structure of the pyproject.toml file
        entry: poetry check
        language: system
        pass_filenames: false
        files: ^pyproject.toml$
        stages: [pre-push]

  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.25
    hooks:
      - id: helmlint

  # formatters
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.14.0
    hooks:
      - id: reorder-python-imports

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  # linters
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        args: ["-x", "tests"]
        stages: [pre-push]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        additional_dependencies: [types-pytz, types-requests]

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint
        stages: [pre-commit] # required

  # miscellaneous

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-use-type-annotations
      - id: python-no-log-warn
      - id: python-no-eval
      - id: python-check-mock-methods
      - id: python-check-blanket-noqa

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.2
    hooks:
      - id: prettier
        files: \.md$

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

feat(chart): add ability to set priorityClassName for pod
  chart/templates/deployment.yaml
  chart/values.yaml
Due: none

chore: bumped dependencies, app and chart version for 25.11.0 release
  Dockerfile
  chart/Chart.yaml
  poetry.lock
  pyproject.toml
Due: poetry

feat: introduced logic to support qps, burst, exponential backoff. Optimized api calls to retrieve namespaces
  kube_downscaler/cmd.py
  kube_downscaler/helper.py
  kube_downscaler/main.py
  kube_downscaler/scaler.py
  kube_downscaler/tokenbucket.py
  tests/test_autoscale_resource.py
  tests/test_events.py
  tests/test_scaler.py
Due: prevent-todo-comments

feat: added support for qps, exponential, backoff also when querying
  kube_downscaler/scaler.py
Due: prevent-todo-comments

refactor: messages and exceptions
  kube_downscaler/helper.py
  kube_downscaler/scaler.py
Due: prevent-todo-comments

feat: added documentation for qps, burst and max-retries-on-throttling arguments
  README.md
Due: prevent-too-small-headings, prevent-invalid-alert-types

feat: added guard to check burst>=qps
  kube_downscaler/main.py
Due: prevent-todo-comments

feat: added unit tests for token bucket class and exponential backoff function
  tests/test_api_throttling_retries.py
Due: prevent-todo-comments

refactor: fixed typo
  README.md
  kube_downscaler/helper.py
Due: prevent-todo-comments, prevent-too-small-headings, prevent-invalid-alert-types

Feat: Introduced Rate Limit Algorithm And Optimized API Calls (#183)
  README.md
  kube_downscaler/cmd.py
  kube_downscaler/helper.py
  kube_downscaler/main.py
  kube_downscaler/scaler.py
  kube_downscaler/tokenbucket.py
  tests/test_api_throttling_retries.py
  tests/test_autoscale_resource.py
  tests/test_events.py
  tests/test_scaler.py
Due: prevent-todo-comments, prevent-too-small-headings, prevent-invalid-alert-types

chore: bump dependencies and fix linter issues
  .github/workflows/python-tests.yml
  .pre-commit-config.yaml
  .travis.yml
  README.md
  kube_downscaler/helper.py
  kube_downscaler/main.py
  kube_downscaler/scaler.py
  kube_downscaler/tokenbucket.py
  poetry.lock
  pyproject.toml
  tests/test_api_throttling_retries.py
  tests/test_autoscale_resource.py
  tests/test_events.py
  tests/test_scaler.py
Due: prevent-todo-comments, prevent-too-small-headings, prevent-invalid-alert-types, poetry

chore: bump helm values
  chart/Chart.yaml
Due: none

chore: bump dockerfile image version
  Dockerfile
Due: none

fix: linebreak
  README.md
Due: prevent-too-small-headings, prevent-invalid-alert-types

chore: bump dependencies and fix linter issues (#186)
  .github/workflows/python-tests.yml
  .pre-commit-config.yaml
  .travis.yml
  Dockerfile
  README.md
  chart/Chart.yaml
  kube_downscaler/helper.py
  kube_downscaler/main.py
  kube_downscaler/scaler.py
  kube_downscaler/tokenbucket.py
  poetry.lock
  pyproject.toml
  tests/test_api_throttling_retries.py
  tests/test_autoscale_resource.py
  tests/test_events.py
  tests/test_scaler.py
Due: prevent-todo-comments, prevent-too-small-headings, prevent-invalid-alert-types, poetry

feat(chart): add support for startup, liveness and readiness probes
  chart/templates/deployment.yaml
  chart/values.yaml
Due: none

fix: correct probes indentation in deployment template
  chart/templates/deployment.yaml
Due: none

refactor: updating indentation
  chart/templates/deployment.yaml
Due: none

Add security review of py-kube-downscaler repository
  SECURITY_REVIEW.md
Due: prevent-too-small-headings, prevent-invalid-alert-types

fix: correct probes indentation in deployment template (#190)
  chart/templates/deployment.yaml
Due: none

Fix/Solved Constrained-Mode Regression Introduced After Reducing API Calls (#192)
  kube_downscaler/scaler.py
  tests/test_scaler.py
Due: prevent-todo-comments

Chore/Release 26.2.1 (#193)
  Dockerfile
  chart/Chart.yaml
  pyproject.toml
Due: poetry

feat(resources): add KafkaConnect (Strimzi) resource support
  kube_downscaler/cmd.py
  kube_downscaler/resources/kafkaconnect.py
  kube_downscaler/scaler.py
  tests/test_cmd.py
  tests/test_resources.py
Due: prevent-todo-comments

docs: document KafkaConnect support in README
  README.md
Due: prevent-too-small-headings, prevent-invalid-alert-types

fix: ensure minReplicas does not exceed maxReplicas for hpa
  kube_downscaler/scaler.py
  tests/test_scaler.py
Due: prevent-todo-comments

chore: added warning log message
  kube_downscaler/scaler.py
Due: prevent-todo-comments

feat: added a dedicated unit test for upscale hpa valid state
  tests/test_scaler.py
Due: prevent-todo-comments

chore: refactored log messages
  kube_downscaler/scaler.py
Due: prevent-todo-comments

feat: added use case to clear potential stale annotations
  kube_downscaler/scaler.py
  tests/test_autoscale_resource.py
Due: prevent-todo-comments

type: renamed maxReplicas to max_replicas
  kube_downscaler/scaler.py
Due: prevent-todo-comments

chore: bumped dependencies, release 26.4.0
  Dockerfile
  chart/Chart.yaml
  poetry.lock
  pyproject.toml
Due: poetry

refactor: bucket token logic, initialization
  kube_downscaler/helper.py
  kube_downscaler/main.py
Due: prevent-todo-comments

feat: added more tokenbucket unit tests
  tests/test_api_throttling_retries.py
Due: prevent-todo-comments

chore: remove mtr repository
  .github/workflows/docker-build.yml
  .github/workflows/helm-build.yml
Due: none

chore: remove mtr repository (#200)
  .github/workflows/docker-build.yml
  .github/workflows/helm-build.yml
Due: none
